.navbar-item.is-logo {
    position: sticky;
    left: 50%;
    margin-left: -63px; 
    height: 100%;
    display: flex;
    align-items: center; 
}

.center {
    text-align: center;
} 

.right {
    text-align: right;
}

.left {
    text-align: left;
}

